#spin-button button {
  border-radius: 20%;
  border: 1px solid $border;
  padding: 15px;
  background-color: $second;
  color: $third;
  font-size: 1em;
  font-weight: 600;
}

#spin-button button:hover {
  box-shadow: 2px 2px 5px $fourth;
}

#spinner {
  background-color: white;
}

#spinner-container {
  width: 80%;
  margin: 20px auto;
}