#spin-button button {
  outline: none;
  border-radius: 5%;
  border: 3px solid $fifth;
  padding: 10px 25px;
  background-color: $sixth;
  color: $fifth;
  font-size: 3.5em;
  margin: 30px 0px;
  letter-spacing: 5px;
  font-family: $third-font;
  vertical-align: center;
}

.rotator {
  background-color: white;
  margin: 10px;
}

#spinner {
  margin: 0px auto;
}

#teams {
  padding-top:0px;
  margin-top: 0px;
}

#spinner-container {
  margin: 0px auto;
}

#teams div {
  padding: 0px;
  margin: 0px;
  padding: 0px 8px 5px 8px;
}

#teams div img {
  margin: 0px;
  padding: 3px 3px;
}

#teams p {
  margin: 0px 0px 10px 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid $border;
  font-size: 1.5em;
  text-align: center;
}
