#spin-button button {
  outline: none;
  border-radius: 20%;
  border: 1px solid $border;
  padding: 15px;
  background-color: $second;
  color: $text;
  font-size: 1em;
  font-weight: 600;
  margin: 20px 0px;
}

#spin-button button:hover {
  box-shadow: 2px 2px 5px $border;
}

#spinner {
  background-color: white;
}

#spinner-container {
  width: 70%;
  margin: 0px auto;
}

#teams div {
  padding: 0px;
  margin: 0px;
  padding: 0px 8px 5px 8px;
}

#teams div img {
  margin: 0px;
  padding: 0px 3px;
}

#teams p {
  margin: 0px 0px 10px 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
