$primary: #5C2751; /** Aubergine **/
$second: #F5B700; /** Mustard **/
$third: #AF4319; /** Orange **/
$fourth: #DDD; /** Light grey **/
$fifth: yellow; /** Yellow **/
$sixth: red; /** Red **/

$text: $second;
$border: #EEE;

$primary-font: 'Amatic SC', cursive;
$secondary-font: 'Josefin Slab', serif;
$third-font: 'Knewave', cursive;