body {
  background-color: $primary;
  color: $text;
  font-family: $secondary-font;
}

h1 {
  margin: 10px 0px;
  line-height: 75px;
  font-family: $primary-font;
  font-size: 4.5em;
  color: $second;
}

img {
  height: 180px;
  width: 119px;
}

#teams {
  margin: 20px;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}
